$tab: 769px;
$sm: 440px;
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sm {
  @media (max-width: ($sm)) {
    @content;
  }
}

a{
  text-decoration: none;
  color: #5f6c7b;
  &:hover{
    opacity: 0.5;
  }
}
li{
  list-style: none;
}
body{
  background-color: #fffffe;
  color: #5f6c7b;
  position: relative;
}
h1{
  font-size: 48px;
}
h2{
  font-size: 32px;
}

.flex{
  display: flex;
  &-column{
    display: flex;
    flex-direction: column;
  }
}

.button {
  width: 15%;
  height: 45px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #ef4565;
  box-shadow: 0px 15px 20px rgba(58, 137, 206, 0.399);
  color: #fff;
  transform: translateY(5px);
}


$z: 1,2,3,4,5,6,7,8,9,10;

// header
.header{
  justify-content: center;
}


// topnav
.topnav{
  background-color: #094067;
    padding: 0 40px;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: index($z,10);
    &__list{
      &-link{
        color: #fffffe;
        font-weight: bold;
      }
    }
}



.firstview{
  align-items: center;
  background: url(./images/firstview.jpg) no-repeat center;
  min-height: 100vh;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  &__comment{
    margin-top: 10%;
    text-align: center;
    color: #fffffe;
    font-size: 48px;
  }
  @include tab{
    height: 400px;
    &__comment{
      font-size: 32px;
    }
  }
  @include sm{
    height: 300px;
    &__comment{
      font-size: 24px;
    }
  }
}

.main{
  margin-top: -70px;
}


.greeting{
  margin-top: 100vh;
  align-items: center;
  padding: 70px 0;
  padding-top: 160px;
  position: relative;
  &-wrapper{
    align-items: center;
    width: 50%;
    background-color: #EEEEEE;
    padding: 20px;
    margin-left: 5%;
    z-index: index($z,3);
  }
  &__logo{

  }
  &__title{
    color: #094067;
    font-weight: bold;
  }
  &__text{
    text-align: start;
    margin-top: 20px;
    line-height: 28px;
  }
  &__img{
    width: 50%;
    height: 65%;
    background: url(./images/greeting.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: index($z,1);
  }
  &__int{
    color:#094067;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 73%;
    right: 10%;
    z-index: index($z,2);
  }
}

.service{
  justify-content: center;
  background-color: #d8eefe;
  padding: 70px 0;
  &-wrapper{
    width: 80%;
    align-items: center;
  }
  &__title{
    color: #094067;
  }
  &__imgs{
    background-color: #094067;
    width: 60%;
    height: 300px;
  }
  &__contents{
    width: 100%;
  }
  &__content{
    background-color: #fffffe;
    margin: 25px 0;
    padding: 25px;
    &-title{
      margin-bottom: 10px;
    }
  }
}

	

@keyframes sliderAnimation {
  100% {
    transform: translateX(-50%);
  }
}

.achievement{
  padding: 70px 0;
  justify-content: center;
  background-color: #11619a;
  color: #fffffe;
  text-align: center;
  &-wrapper{
    display: -ms-grid;
    -ms-grid-columns: min-content;
    overflow: hidden;
    padding: 30px 0;
    align-items: center;
  }
  &__card-wrapper{
    min-width: 100%;
    width: min-content;
    animation: 10s linear infinite sliderAnimation;
    margin: 30px 0;
  }
  &__card{
    width: 230px;
    background-color: #fffffe;
    border-radius: 10px;
    margin: 30px 30px;
    position: relative;
    &-tag{
      color: #fffffe;
      background-color: #ef4565;
      height: 25px;
      line-height: 25px;
      width: 30%;
      font-size: 14px;
      text-align: center;
      margin-bottom: 10px;
    }
    &-img{
      border-radius: 10px 10px 0 0;
      height:50%;
    }
    &-textarea{
      color: #094067;
      text-align: start;
      padding: 13px 15px;
      height: 150px;
    }
    &-title{
      margin: 0 12px;
    }
  }
}

.information{
  height: 300px;
  width: 100%;
  &__company{
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  &__recruit{
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #3da9fc;
    color: #fffffe;
  }
}

.contact{
  background-color: #d8eefe;
  color: #094067;
  align-items: center;
  width: 100%;
  padding: 70px 0;
  &__title{
    margin-bottom: 20px;
  }
  &__text{
    margin-bottom: 35px;
  }
}

.footer{
  justify-content: center;
  align-items: center;
  height: 50px;
}

